.videoCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* width: 330px; */
  padding: 4px;
  background-color: darkgrey;
}

/*
.video-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.video-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
*/

.videoThumbnail {
  text-align: center;
}

.videoThumbnail a img {
  width: 100%;
}

.videoInfo {
  padding: 2px 16px;
  color: white;
}

.videoInfoRelated {
  padding: 2px 5px;
  color: white;
}

.videoTitle {
  font-weight: bold;
  font-size: medium;
}

.videoDescription {
  font-size: small;
  text-overflow: ellipsis;
}

.videoChannel {
  background-color: cornflowerblue;
  padding: 1px 10px;
  font-size: small;
  margin-top: 5px;
}

.favoriteIcon {
  float: right;
  padding: 10px;
}

.toggleFavorite {
  background: transparent;
  border: none !important;
  font-size: 0;
  cursor: pointer;
  outline: none;
}

.lineSepRelatedVideos {
  margin: 5px;
}
