.home {
  display: flex;
  flex-direction: column;

  &__heading {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
