.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group strong {
  display: block;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 0.4rem;
}

.dynamic-gradient.input-border {
  border-radius: 3px;
  padding: 3px;
}

.input {
  color: #aeaeae;
  font-size: 1.2rem;
  width: 100%;
  padding: 0.4rem 0.6rem;
  border: none;
  background-color: #eeeeee;
}
