.detail-container {
  height: calc(95vh - 72px);
}

.description-container p {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
