.suggested-video-card-container {
  display: flex;
  margin-bottom: 8px;

  .thumbnail {
    width: 170px;
    height: 95px;
    margin-right: 5px;
  }

  .info {
    h4 {
      font-size: var(--primary-text-size);
      margin-bottom: 5px;
      color: var(--text-primary-color);
      font-weight: var(--primary-title-weight);
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    p {
      color: var(--text-primary-color);
      font-size: var(--info-font-size);
      font-weight: var(--info-font-weight);
    }
  }
}
