.reproducer-wrapper .videoInformation p {
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: left;
}

.reproducer-wrapper .videoInformation p.title {
  font-size: 1rem;
  font-weight: bold;
  height: 4rem;
  overflow-wrap: break-word;
}

.reproducer-wrapper .videoInformation .datePublished {
  font-size: 0.7rem;
  color: #5d5f61;
}

.reproducer-wrapper .videoInformation .description {
  font-size: 0.9rem;
  text-overflow: ellipsis;
  height: 13rem;
  white-space: break-spaces;
  overflow-y: scroll;
  overflow-x: hidden;
}
