* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.video_container {
  margin: auto;
  /* border: 1px solid red; */
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

h1 {
  /* border: 1px solid red; */
  margin: auto;
  text-align: center;
}

hr {
  margin: 40px;
}
