/* .video_related {
  display: flex;
  flex-flow: row wrap;
} */

.video_relthumb {
  /* border: 1px solid red; */
  background-color: #191919;
  display: flex;
  flex-flow: row nowrap;
  font-family: 'Roboto', sans-serif;
  font-size: small;
  color: #fff;

  margin: 0px 15px 15px 0px;
  cursor: pointer;
}

#rel_img {
  height: 90px;
  width: 160px;
}

.video_relinfo {
  /* border: 1px solid blue; */
  height: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

#rel_title {
  margin: 5px;
  font-weight: 500;
  text-justify: inter-word;
}

#rel_channel {
  margin: 5px;
  color: #959595;
}
