.App {
  font-family: 'Merriweather Sans', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.home,
.tendencies {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
