.card_grid {
  background-color: var(--body-background);
  padding: 15px;
  padding-top: 45px;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.home_search_container {
  background-color: var(--body-background);
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home_search_bar {
  width: 50%;
  height: 40px;
  border: none;
  background: transparent;
  border: none;
  font-family: var(--font-family);
  font-size: calc(var(--font-size) * 1.2);
  border-bottom: 1px solid var(--background);
  transition: border ease-in-out 0.1s;
  position: absolute;
}

.home_search_bar:focus {
  border-bottom: 3px solid var(--accent-font-color);
}

.home_search_bar:not(:placeholder-shown) {
  border-bottom: 3px solid var(--accent-font-color);
}

.home_search_bar:focus {
  outline: none;
}

@media (min-width: 1263px) {
  .card_grid {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
}
