@import '../../styles/shared.scss';

.homepage {
  margin-top: $header-nav-height;
  margin-left: $sidebar-left-width;
}

/* .homepage {
  text-align: center;
} */
/* 
.homepage h1 {
  font-size: 3rem;
  letter-spacing: -2px;
} */
