.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 25px;
  cursor: pointer;
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.26);
  border-radius: 18px;
}


.card a{
  color:  black
}