.LoginButton {
  height: 35px;
  border: 1px solid #fdfdfd;
  background-color: #00b4cc;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  list-style: none;
}

.LoginButton:hover {
  background-color: #187e8b;
}
