#s-cover {
  width: 1px;
  padding-left: 35px;
} 

#s-circle {
  position: relative;
  top: -9px;
  left: -18;
  width: 30px;
  height: 30px;
  border-width: 15px;
  border: 6px solid #fff;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.5s ease all;
}

button span {
  position: absolute;
  top: 24px;
  left: 19px;
  display: block;
  width: 10px;
  height: 8px;
  background-color: transparent;
  border-radius: 10px;
  transform: rotateZ(52deg);
  transition: 0.5s ease all;
}

button span:before,
button span:after {
  content: '';
  position: absolute;
  bottom: -5;
  right: 11;
  width: 28px;
  height: 8px;
  background-color: #fff;
  border-radius: 10px;
  transform: rotateZ(0);
  transition: 0.5s ease all;
}

#s-cover:hover #s-circle {
  top: 2px;
  width: 50px;
  height: 7px;
  border-width: 0;
  background-color: #fff;
  border-radius: 20px;
}

#s-cover:hover span {
  top: 50%;
  left: 50px;
  width: 20px;
  margin-top: -1px;
  transform: rotateZ(0);
}

#s-cover:hover button span:before {
  bottom: 11px;
  transform: rotateZ(40deg);
}

#s-cover:hover button span:after {
  bottom: -11px;
  transform: rotateZ(-40deg);
}
#s-cover:hover button span:before,
#s-cover:hover button span:after {
  right: -6px;
  width: 40px;
  background-color: #fff;
}
