.navbar {
  background-color: rgb(11, 49, 71);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-bars {
  margin-left: 1.5rem;
  font-size: 1.5rem;
}

.nav-menu {
  background-color: rgb(11, 49, 71);
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 500ms;
}

.menu-active {
  background-color: rgb(11, 49, 71);
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0px;
  transition: 350ms;
  border-right: #f5f5f5 solid 2px;
}

.nav-text {
  display: flex;
  padding: 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 9px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #088db6;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toogle {
  background-color: rgb(11, 49, 71);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: #f5f5f5 solid 2px;
}

.navbar-toogle:hover {
  background-color: rgb(126, 5, 5);
  transition-delay: 100ms;
}

span {
  margin-left: 10px;
}
