.overlay-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.overlay-wrapper.opened {
  display: block;
  z-index: 1040;
}

.sidebar-links {
  background: #fff;
  border: 1px solid #e0e0e0;
  margin-left: -410px;
  position: absolute;
  width: 297px;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 200;
  transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, flex 0.25s;
  box-shadow: -3px 2px 16px 2px #dfdfdf;
}

.sidebar-links.opened {
  margin-left: 0;
}

.sidebar-items {
  padding: 15px 10px;
  border-bottom: 1px #e0e0e0 solid;
}

.sidebar-items a {
  font-size: 17px;
}

.sidebar-items a #notification-sidebar {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}
