.form-input-container {
  display: flex;
  flex-direction: column;
  label {
    font-weight: var(--primary-title-weight);
    margin-bottom: 5px;
    text-align: left;
    font-size: var(--primary-text-size);
    color: var(--text-primary-color);
  }
  input {
    padding: 5px 12px;
    font-size: var(--primary-text-size);
    line-height: 20px;
    border: 1px solid var(--text-input-border);
    border-radius: 6px;
    margin-top: 5px;
    margin-bottom: 15px;
    outline: none;
  }

  input:focus {
    border: 1px solid var(--text-input-selected-border);
  }
}
