.container-fluid {
  padding: 0;
}

.modal-header {
  border-bottom: 0 none;
}

.modal-footer {
  border-top: 0 none;
}

.card {
  display: inline-flex;
  margin: 1.5rem;
}

.avatar {
  height: 35px;
  width: 35px;
}
