:root {
  --header-container-height: 56px;
  --general-background: #f9f9f9;
  --secondary-background: #fff;

  --text-primary-color: #030303;
  --text-secondary-color: #606060;

  --text-input-border: #606060;
  --text-input-selected-border: #4285f4;

  --primary-text-size: 14px;
  --primary-title-weight: 500;

  --info-font-size: 13px;
  --info-font-weight: 400;
}

* {
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
