:root {
  --header-container-height: 56px;
  --general-background: #f9f9f9;
  --secondary-background: #fff;

  --text-primary-color: #030303;
  --text-secondary-color: #606060;

  --text-input-border: #606060;
  --text-input-selected-border: #4285f4;

  --primary-text-size: 14px;
  --primary-title-weight: 500;

  --info-font-size: 13px;
  --info-font-weight: 400;
}
