.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-box {
  display: flex;
  margin-bottom: 1rem;
}

.search-box input {
  color: white;
  font-size: 1rem;
  width: 100%;
  padding: 0.4rem 0.6rem;
  border-radius: 4px;
  border: 0.5px solid white;
  background-color: rgba(0, 0, 0, 0.1);
}
